@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;400;600&family=Poppins:wght@300;400;500&family=Roboto:wght@100;300;500;700&display=swap');

body
{
    /* background-color: pink; */
    background-image: linear-gradient(to right,pink, rgb(241, 227, 230));
    color: black;
    font-family: 'Outfit', sans-serif; ;
    max-width: 1500px;
   
    margin: 0;
    
}

header{
    background-color: rgb(235, 44, 124);
    width: all;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

#title img {
    width: 30%;
    height: auto;
    margin-left: 30%;
}

ul{
    margin-right: 10%;
}

a{
    color: white;
}

a:hover{
 color: pink;
 transition: 0.5 all;

}

li{
    display: inline-block;
    margin: 20px;
}

#bnt-subscribe{
    border: 3px solid white;
    padding: 10px;
    border-radius: 18px;
}

#bnt-subscribe:hover{
 color: rgb(235, 44, 124);
 background-color: pink;
}

main{
    display: flex;
    flex-direction: row;
    padding: 30px;
    justify-content: center;
}
h1{
    font-size: 20px;
    line-height: 10px;
}
span{   
    color:rgb(235, 44, 124); ;
}

h2{
    font-size: 56px;
    line-height: 10px;
    margin-top: 30px;
}


p{
    line-height: 20px;
    max-width: 500px;
    font-family: Arial, Helvetica, sans-serif;   
}

#img-barbie{
    width: 600px;
    border: 3px solid transparent;
    border-radius: 20%;
}

form{
    display: flex;
    flex-direction: column;
    width: 70%;
}

input{
    margin-top: 10px;
    height: 15px;
    padding: 15px;
    border-radius: 30px;
    border: none;
    font-size: 15px;  
}

#bnt-enviar {
    height: 50px;
    width: 50%;
    background-color:  rgb(235, 44, 124); ;
    color: white;
    font-weight: bold;
    cursor: pointer;
}